<p id="notice"><%= notice %></p>

<h1>All Votes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @all_votes.each do |all_vote| %>
      <tr>
        <td><%= link_to 'Show', all_vote %></td>
        <td><%= link_to 'Edit', edit_all_vote_path(all_vote) %></td>
        <td><%= link_to 'Destroy', all_vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New All Vote', new_all_vote_path %>
