<p>暗号化合計: <%= @election.tally %></p>
<p>復号合計: <%= @election.tally_decrypted %></p>

<table>
  <% @election.result[0...-1].each do |e| %>
    <tr>
      <td><%= @election.candidates.find_by(number: e[0]).name %></td>
      <td><%= e[1] %></td>
    </tr>
  <% end %>
  <tr>
    <td>棄権票</td>
    <td><%= @election.result[-1][1] %></td>
  </tr>
</table>
