<h1>Elections</h1>

<table class="table">
  <thead>
    <tr>
      <th>g</th>
      <th>n</th>
      <th>n2</th>
      <th>b</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @elections.each do |election| %>
      <tr>
        <td><%= election.g.to_i %></td>
        <td><%= election.n.to_i %></td>
        <td><%= election.n_sq.to_i %></td>
        <td><%= election.b.to_i %></td>
        <td><%= link_to 'Show', public_election_path(election) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
