<p id="notice"><%= notice %></p>

<h1>Elections</h1>

<table>
  <thead>
    <tr>
      <th>λ</th>
      <th>μ</th>
      <th>g</th>
      <th>n</th>
      <th>n2</th>
      <th>b</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @elections.each do |election| %>
      <tr>
        <td><%= election.l.to_i %></td>
        <td><%= election.m.to_i %></td>
        <td><%= election.g.to_i %></td>
        <td><%= election.n.to_i %></td>
        <td><%= election.n_sq.to_i %></td>
        <td><%= election.b.to_i %></td>
        <td><%= link_to 'Show', election %></td>
        <td><%= link_to 'Edit', edit_election_path(election) %></td>
        <td><%= link_to 'Destroy', election, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Election', '', onclick: "setHref(this)" %>
<input type="text" id="bits" value="">
<input type="text" id="base" value="100">
<script>
  function setHref(that) {
    const bits = document.getElementById('bits').value;
    const base = document.getElementById('base').value;
    that.href=`<%= new_election_path %>?bits=${bits}&base=${base}`;
  }
</script>
<%# ref. https://stackoverflow.com/questions/27148673/pass-input-tag-value-to-as-href-parameter %>
