<p id="notice"><%= notice %></p>

<h1>Candidates</h1>

<table>
  <thead>
    <tr>
      <th>Election</th>
      <th>Number</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.election_id %></td>
        <td><%= candidate.number %></td>
        <td><%= candidate.name %></td>
        <td><%= link_to 'Show', election_candidate_path(@election, candidate) %></td>
        <td><%= link_to 'Edit', edit_election_candidate_path(@election, candidate) %></td>
        <td><%= link_to 'Destroy', election_candidate_url(@election, candidate), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candidate', new_election_candidate_path(@election) %> |
<%= link_to 'Election', election_path(@election) %>
