<p id="notice"><%= notice %></p>

<p>
  <strong>Election:</strong>
  <%= @candidate.election_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @candidate.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<%= link_to 'Edit', edit_election_candidate_path(@election, @candidate) %> |
<%= link_to 'Back', election_candidates_path(@election) %>
