<p id="notice"><%= notice %></p>

<h1>Votes</h1>

<table>
  <thead>
    <tr>
      <th>Election</th>
      <th>C</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.election_id %></td>
        <td><%= vote.c %></td>
        <td><%= link_to 'Show', election_vote_path(@election, vote) %></td>
        <td><%= link_to 'Edit', edit_election_vote_path(@election, vote) %></td>
        <td><%= link_to 'Destroy', election_vote_url(@election, vote), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vote', new_election_vote_path(@election) %>
