<p id="notice"><%= notice %></p>

<p>
  <strong>Election:</strong>
  <%= @vote.election_id %>
</p>

<p>
  <strong>C:</strong>
  <%= @vote.c %>
</p>

<%= link_to 'Edit', edit_election_vote_path(@election, @vote) %> |
<%= link_to 'Back', election_votes_path(@election) %>
